html
body {
  margin: 100;
  background-color: black;
  text-align: center;

}
h1 {
  font-family: verdana;
  Font-size: 50px;
  Color: white;
  font-weight: normal;

}

p {color: aquamarine}

  ;
}
